<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "radar" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <%= javascript_include_tag  "radar" %>
  </body>
</html>