@charset "utf-8";

@import "compass";
@import "normalize";



html {
    height: 100%;
}

body {
    background: #ddd;
    font-size: 0px;
    font-family: trebuchet ms, san-serif;
    height: 100%;
    text-align: center;

    &:after {
        @include inline-block;
        content: "";
        height: 100%;
        margin-right: -1px;
        vertical-align: middle;
        width: 1px;
    }
}

#skills-canvas {
    @include inline-block;
    vertical-align: middle;
}



