---
title: Radar Graph
---

<script type="text/javascript">
    var skillsData = <%= data.skills_config.to_json %>
    
</script>

<canvas id="skills-canvas" width="400" height="400" data-action="skills">
    <ul class="skills-fallback" data-action="skillsFallback">
        <% data.skills_config.skills.each_with_index do |item, index| %>

            <li class="skill-item" data-score="<%= item.score %>">
                <div class="item-inner">
                    <div class="skill-text"><%= item.title %></div>
                    <span class="score"><%= item.score %></span>
                </div>
            </li>

        <% end %>
    </ul>
</canvas>



